<mat-card>
	<mat-card-content>
		<mat-card-title>Generar un archivo .CSV</mat-card-title>
		<h4>El csv se genera a partir de la realización de webscraping a la página web de "tienda gamer medellín", puede
			visitarla usando el enlace:</h4>
		<h4><a href="https://www.tiendagamermedellin.co/">Tienda Gamer Medellín</a></h4>
		<h4>Al hacer click en generar se descargará el archivo, este podrá cargarlo en el dashboard para obtener más
			información sobre él.</h4>
		<div class="button-row d-flex">
			<button mat-raised-button color="primary" (click)="getFile()">Generar</button>
		</div>
	</mat-card-content>
</mat-card>